{% extends "base.html" %}
    {% block content %}
        <h1>一覧</h1>
        <form method="post" action="/add">
            <h2>タスクを追加</h2>
            <input type="text" name="title">
            <input type="submit" value="追加" class="add-btn">
        </form>

        <br>

        <form id="bulk-delete-form"
              method="post" action="{{ url_for('bulk_delete')}}"
              onsubmit="return confirm('完了済みのタスクを削除します。よろしいですか？')">
              <button type="submit">完了済みタスク一括削除</button>
        </form>
        <ul>
            {% for task in tasks %}
                <li class="task-item">
                    <span class="task-title">
                        {% if task.is_done %}
                            <s>{{ task.title }}</s>
                        {% else %}
                            {{ task.title }}
                        {% endif %}
                    </span>
                    <!--完了/未完了-->
                    <div class="task-buttons">
                        <form method="post" action="/toggle/{{ task.id }}">
                        <button type="submit">
                            {% if task.is_done %}未完了{% else %}完了{% endif %}
                        </button>
                        </form>
                        <!--削除ボタン（確認ダイアログ付き）-->
                        <form method="post"
                            action="/delete/{{ task.id }}" 
                            style="display:inline;"
                            onsubmit="return deletecheck('{{ task.title }}');"> <!--Trueなら削除命令送信　Falseなら送信しない-->
                            <button type="submit" class="btn-delete">削除</button>
                        </form>
                        <!--編集ボタン-->
                        <form method="get" action="/edit/{{ task.id}}" style="display: inline;">
                            <button type="submit"  class="btn-edit">編集</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
            
        </ul>

        <script>
            function deletecheck(title){
                return confirm(`「${title}」を削除します。よろしいですか？`);
            }
        </script>
    {% endblock %}
