{% extends "base.html" %}
    {% block content %}
        <h1>一覧</h1>
        <form method="post" action="/add">
            <h2>タスクを追加</h2>
            <input type="text" name="title">
            <input type="submit" value="追加">
        </form>


        <ul>
            {% for task in tasks %}
                <li>
                    {% if task.is_done %}
                        <s>{{ task.title }}</s>
                    {% else %}
                        {{ task.title }}
                    {% endif %}
                    <form method="post" action="/toggle/{{ task.id }}" style="display:inline;">
                        <input type="submit" value="{% if task.is_done %}未完了{% else %}完了{% endif %}">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
